.Rproj.user
.Rhistory
.Rdata
~Data**/*.Rdata
data/kfm_data/*.*
**/*.DS_Store
**/*.pdf
**/*.xlsx
**/*.xls
**/*.xml
**/*.Rproj
**/*.Rdata
**/*.rdx
**/*.rdb
**/*.rdata
**/*.out
Results**/*.csv
Results**/*.*
MLPA Effects Results**/*.csv
MLPA Effects Results**/*.*
.txt
**/*.txt
Presentations**/*.*
MLPA Effects Results/
**/*.docx
Paper**/*.csv
Paper**/*.*
Figs**/*.*
**/*.docx
GFR_Master.R
.Rapp.history
.html
*.html
*.mp4
mydisplays/
rosm.cache/
data/SouthCoastHumanActivitiesCommercialFisheriesEconomicandSpatialData1992to2012
libs/
_ignore/.*
_ignore**/*.*
data/zissou-data/
.here
*.eps
*.tiff
*.o
*.so
*.csv
*.tex
*.png
test_files/
*.bib