.Rproj.user
.Rhistory
.Rdata
~Data**/*.Rdata
**/*.csv
**/*.pdf
**/*.xlsx
**/*.xls
**/*.Rproj
**/*.Rdata
**/*.rdata
**/*.out
Results**/*.csv
Results**/*.*
.txt
**/*.txt
Presentations**/*.*
Results/
**/*.docx
Paper**/*.csv
Paper**/*.*
**/*.docx
GFR_Master.R
