.Rproj.user
.Rhistory
.Rdata
~Data**/*.Rdata
**/*.DS_Store
**/*.csv
**/*.pdf
**/*.xlsx
**/*.xls
**/*.Rproj
**/*.Rdata
**/*.rdx
**/*.rdb
**/*.rdata
**/*.out
Results**/*.csv
Results**/*.*
.txt
**/*.txt
Presentations**/*.*
Results/
**/*.docx
Paper**/*.csv
Paper**/*.*
Figs**/*.*
**/*.docx
GFR_Master.R
.Rapp.history
